@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    height: 80px;
    width: 100%;
    background: #ffff;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    flex-wrap: wrap;
}

.img-logo {
    /* width: 320px; */
    height: 40px;
}

.img-logo-canvas {
    height: 25px;
}

.nav-link {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.nav-item a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.drop-item-link {
    border-bottom: 1px dashed #ccc;
    padding-top: 7px;
    padding-bottom: 7px;
}

.drop-item-link a {
    color: #696969;
}

.nav-link li {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.nav-link:hover {
    color: black;
}

.nav-bar-home {
    box-shadow: 0px 12px 32px rgba(33, 105, 244, 0.18);
}

.dropdown-toggle::after {
    display: none;
}

.btn-login {
    background-color: #FD7521;
    box-shadow: 0px 12px 32px rgba(33, 105, 244, 0.18);
    border: none;
    /* padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px; */

}

.btn-login:hover {
    background-color: #FD7521;
}

.menu-link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.menu-link:hover {
    color: black;
}

.dropdown-menu {
    min-width: 220px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1000px) {
    .navbar {
        padding: 0 20px 0 20px;
    }

}

@media (max-width: 920px) {
    .img-logo {
        height: 30px;
    }

    .dropdown-menu {
        border: none;
    }

    .nav-link {
        border-bottom: 0.2px dashed #999;
        font-size: 16px;
    }

    .btn-login {
        margin-top: 20px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-toggler {
        width: 50px;
        padding: 2px 2px 2px 2px;
    }

    .navbar-toggler-icon {
        font-size: 20px;
    }
}